Repository StnetixDevTeam/ariADDna, pull requests merged in 2018-04, with the labels that each got.

#141 Implementing support directory as metafile
  vufs/src/main/java/com/stnetix/ariaddna/vufs/businessobjects/Metafile.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/businessobjects/Metatable.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/service/IVufsService.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/service/VufsServiceImpl.java
  vufs/src/test/java/com/stnetix/ariaddna/vufs/service/VufsServiceImplTest.java
Labels: Area - API, Area - VUFS, Issue - Feature, P0, Review - Needed

#142 fix codestyle
  block_manipulation_service/src/test/java/com/stnetix/ariaddna/blockmanipulation/BMSConfiguration.java
  block_manipulation_service/src/test/java/com/stnetix/ariaddna/blockmanipulation/BMSTest.java
  block_manipulation_service/src/test/java/com/stnetix/ariaddna/blockmanipulation/LocalService.java
  block_manipulation_service/src/test/java/com/stnetix/ariaddna/blockmanipulation/LocalServiceStub.java
  block_manipulation_service/src/test/java/com/stnetix/ariaddna/blockmanipulation/LocalServiceTest.java
  block_manipulation_service/src/test/resources/settings.xml
  local-storage-manager/src/main/java/com/stnetix/ariaddna/localstoragemanager/localservice/LocalService.java
  rest-api-cloud-client/src/main/java/com/stnetix/ariaddna/externalcloudapi/AccessToken.java
  rest-api-cloud-client/src/main/java/com/stnetix/ariaddna/externalcloudapi/MediaTypes.java
  rest-api-cloud-client/src/main/java/com/stnetix/ariaddna/externalcloudapi/cloudinterface/IAbstractCloud.java
  rest-api-cloud-client/src/main/java/com/stnetix/ariaddna/externalcloudapi/implementation/YandexDisk.java
  rest-api-cloud-client/src/main/java/com/stnetix/ariaddna/externalcloudapi/implementation/YandexDiskHelper.java
  rest-api-cloud-client/src/test/java/com/stnetix/ariaddna/externalcloudapi/test/IAbstractCloudTest.java
Labels: Issue - Bug, P0, Review - Committed

#143 Implementing get block uuid from metafile
  block_manipulation_service/src/main/java/com/stnetix/ariaddna/blockmanipulation/BlockGenerate.java
  block_manipulation_service/src/main/java/com/stnetix/ariaddna/blockmanipulation/exception/BlockDoesNotExistException.java
  block_manipulation_service/src/main/java/com/stnetix/ariaddna/blockmanipulation/exception/BlockManipulationException.java
  block_manipulation_service/src/main/java/com/stnetix/ariaddna/blockmanipulation/exception/MetafileIsFolderException.java
  block_manipulation_service/src/main/java/com/stnetix/ariaddna/blockmanipulation/service/BlockManipulationServiceImpl.java
  block_manipulation_service/src/main/java/com/stnetix/ariaddna/blockmanipulation/service/IBlockManipulationService.java
  block_manipulation_service/src/test/java/com/stnetix/ariaddna/blockmanipulation/BMSTest.java
  block_manipulation_service/src/test/java/com/stnetix/ariaddna/blockmanipulation/service/BlockManipulationServiceImplTest.java
  common-utils/src/main/java/com/stnetix/ariaddna/commonutils/dto/vufs/FileType.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/bo/Block.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/bo/Metafile.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/bo/Metatable.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/service/IVufsService.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/service/VufsServiceImpl.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/transformers/MetafileTransformer.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/transformers/MetatableTransformer.java
  vufs/src/test/java/com/stnetix/ariaddna/vufs/bo/BlockUuidHashTest.java
  vufs/src/test/java/com/stnetix/ariaddna/vufs/bo/MetafileCloneTest.java
  vufs/src/test/java/com/stnetix/ariaddna/vufs/service/VufsServiceImplTest.java
Labels: Area - Block Manipulation, Area - Refactoring, Area - VUFS, Issue - Feature, P0, Review - Needed

#144 Implementing support resource strategy
  common-utils/src/main/java/com/stnetix/ariaddna/commonutils/dto/vufs/AllocationStrategy.java
  storage-service/src/test/java/com/stnetix/ariaddna/persistence/TestHelper.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/exception/MetafileDoesNotExistException.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/exception/VufsException.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/service/IVufsService.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/service/VufsServiceImpl.java
  vufs/src/test/java/com/stnetix/ariaddna/vufs/ProfileStub.java
  vufs/src/test/java/com/stnetix/ariaddna/vufs/bo/MetafileCloneTest.java
  vufs/src/test/java/com/stnetix/ariaddna/vufs/service/VufsServiceImplTest.java
Labels: Area - Server Side, Area - VUFS, Issue - Feature, P0, Review - Needed

#145 get offset in file for generate block from Metafile
  block_manipulation_service/src/main/java/com/stnetix/ariaddna/blockmanipulation/BlockGenerate.java
  block_manipulation_service/src/test/java/com/stnetix/ariaddna/blockmanipulation/BMSTest.java
Labels: Area - Block Manipulation, Issue - Feature, P2, Review - Committed

#150 Implementation save allocation in metafile in VUFS
  allocate-service/pom.xml
  allocate-service/src/main/java/com/stnetix/ariaddna/allocateservice/service/AllocateServiceImpl.java
  allocate-service/src/main/java/com/stnetix/ariaddna/allocateservice/service/IAllocateService.java
  allocate-service/src/test/java/com/stnetix/ariaddna/allocateservice/AllocateServiceImplTest.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/service/IVufsService.java
  vufs/src/main/java/com/stnetix/ariaddna/vufs/service/VufsServiceImpl.java
Labels: Area - Block Allocation, Area - VUFS, Issue - Feature, P0, Review - Needed
